<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>




    <title>Song Search </title>
</head>

<body>

    <!-- background image div-->



    <div id="intro" class="bg-image shadow-2-strong">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);" style="height : 100vh">



            <div class="d-flex justify-content-center h-100">
                <form action="/recommendations" method="POST" class = "search-form" style="align-self: center;">
                    <div class="searchbar">

                        <input id="search_input" class="search_input" type="search" name="search" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                </form>
            </div>


        </div>
    </div>
   

    <!-- background div -->


</body>

<script>
    $(function () {



        $(".search_input").on("input", function (e) {
            text = $(".search_input").val();
            $.ajax({
                method: "post",
                url: "/searchbox",
                data: { search: text },
                success: function (res) {
                    console.log(res);
                    $(".search_input").autocomplete({
                        source: res,
                        
                        select : function(event, ui) { 
                                
                            
                            $(".search_input").val( ui.item.value)
                            $(".search-form").submit()
                               
                        }

                    });
                }
            })
        });



    });
</script>



</html>